body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d1d3d4; /* gris suave */
}

header {
    background-color: #3b54c5; /* azul */
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.perfil {
    background-color: #bfc2c4; /* cajas grises */
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

h2 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding-left: 20px;
}